@import "colors";

.navbar{
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.4) 75%, rgba(20, 20, 20, 0) 100%);
    font-weight: bold;
    font-size: 30px;

    div{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;

        @media only screen and (max-width: 990px) {
            position: relative;
        }

        ul{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}