nav{
    text-align: right;
    padding: 10px 30px;
    a{
        text-decoration: none;
        color: black;
        font-size:13px;
        margin: 0px 10px;
    }
    a:hover{
        text-decoration: underline;
    }
}