{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1>New page</h1>

    <form action="{% url 'encyclopedia:newPage'%}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.title.errors }}
        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.content.errors }}
        {{ form.content.label }}
        <br>
        {{ form.content }}
        <br>
        <input type="submit">
    </form>

{% endblock %}