<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="header-image" alt=""></div>
          <h3 class="title">TITLE GOES HERE</h3>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span class="iconify" data-inline="false" data-icon="radix-icons:cross-2" style="color: #ffffff; font-size: 25px;"></span>
          </button>
          <button type="button" class="save-modal" data-id="1">
            <span class="iconify" data-inline="false" data-icon="ant-design:heart-outlined" style="color: #ffffff; font-size: 25px;"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium cras amet, mattis auctor mauris sit pretium. Sem elit, gravida tincidunt venenatis eget sit aliquet. Id sed velit felis bibendum aliquam facilisi. Non duis sit donec leo sit nam. Tristique volutpat proin senectus in leo, posuere lorem morbi ultrices. Faucibus tincidunt fermentum, est rutrum sit tempus elit. Elit sit ut nec, sit lacinia eu arcu at. Feugiat elementum in in amet. Maecenas sit platea sed diam consequat, odio blandit. Mauris magnis nunc gravida mi, varius mi.</p>
            </div>

            <div class="col-12 col-sm">
                <button type="button" class="btn view-trailer" data-url="google.com">View trailer</button>
                <span><strong>Genre:</strong> Action</span>
                <span><strong>Date:</strong> September 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>