<section id="footer">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link disabled" href="#" tabindex="-1">
            <span
          class="iconify left"
          data-inline="true"
          data-icon="bx:bxs-chevron-left"
        ></span>
            Prev
        </a>
      </li>
      <li class="page-item active">
        <a class="page-link page-num" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next
            <span
            class="iconify right"
            data-inline="true"
            data-icon="bx:bxs-chevron-right"
          ></span>
        </a>
        
      </li>
    </ul>
  </nav>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
