{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="title"></h1>

    <div id="new-post">
        <h3>New post</h3>
        <form id="new-post-form" onsubmit="return false">
            <textarea class="form-control" id="content" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>


    <div id="post-view"></div>

    <div id="following-view"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}