{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1 id="title">{{page_obj.0.user}}</h1>

{% if user.id != userid %}
<button id="follow" data-userid="{{userid}}" data-follow="{% if following %}true{% else %}false{% endif %}">{% if following %}Unfollow{% else %}Follow{% endif %}</button>
{% endif %}

<h3 id="followers" data-count="{{followers.count}}">Followers: {{followers.count}}</h3>

<div id="post-view">
    {% for item in page_obj %}
    <div>
        <div class="list-item" id="post-{{item.id}}">
            <a href=""><strong>{{item.user}}</strong></a>
            <span>{{item.content}}</span>
            {% if item in liked %}
            <span class="iconify" data-icon="ant-design:heart-filled" data-inline="false" style="color:red;"></span>
            {% else %}
            <span class="iconify" data-icon="ant-design:heart-outlined" data-inline="false"></span>
            {% endif %}
            <span id="likes">{{item.likes}}</span>
            <span class="time">{{item.timestamp}}</span>
            <button class="like" data-cur_likes="{{item.likes}}" data-id="{{item.id}}" data-like="{% if item in liked %}true{% else %}false{% endif %}">{% if item in liked %}Unlike{% else %}Like{% endif %}</button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}