{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/accounts/css/LoginScreen.css' %}">
{% endblock %}

{% block body %}
    <section id="login">
        <img src="{% static 'webapp/img/Logo-big.png' %}" id="logo" alt="Logo">
        <span id="title">Editor login</span>

        <form>
            <div class="form-group">
              <label for="Username">Username:</label>
              <input type="text" class="form-control" id="Username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="Password">Password:</label>
              <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="login-controls">
                <button type="submit" class="btn btn-primary">Login</button></div>
          </form>
    </section>
{% endblock %}