#login {
  text-align: center;
  max-width: 500px;
  width: 50vw;
  display: block;
  margin: auto;
  margin-top: 15vh; }
  #login span#title {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7); }
  @media only screen and (max-width: 1000px) {
    #login {
      width: 100%; } }
  @media only screen and (max-width: 600px) {
    #login {
      padding: 25px; } }
  #login form {
    font-weight: bold;
    text-align: left; }
    #login form .form-group {
      width: 90%;
      display: block;
      margin: auto;
      margin-top: 25px; }
      @media only screen and (max-width: 1000px) {
        #login form .form-group {
          width: 100%; } }
      #login form .form-group input {
        background-color: transparent;
        border: 3px solid #E50914;
        border-radius: 10px;
        color: #FFF; }
    #login form .login-controls {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center; }
      #login form .login-controls button {
        background-color: #E50914;
        font-weight: bold;
        margin: 5px;
        width: 35%;
        display: inline-block;
        font-size: 30px;
        padding: 5px;
        border-radius: 10px;
        border: 3px solid #E50914; }
        @media only screen and (max-width: 450px) {
          #login form .login-controls button {
            font-size: 20px; } }
      #login form .login-controls button:hover {
        background-color: rgba(229, 9, 20, 0.5); }
      #login form .login-controls .secondary {
        background-color: transparent;
        border: 3px solid #E50914; }
      #login form .login-controls .secondary:hover {
        background-color: rgba(229, 9, 20, 0.5); }

#logo {
  max-width: 100%;
  width: 500px; }
