{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>
<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        {% url 'index' as index %}
        <a class="nav-link {% if request.get_full_path == index %} active {% endif %}" href="{{index}}">Active
            Listings</a>
    </li>
    <li class="nav-item">
        {% url 'categories' as categories %}
        <a class="nav-link {% if request.get_full_path == categories or categories in request.get_full_path %} active {% endif %}"
           href="{{categories}}">Categories {{category}}</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        {% url 'watchlist' watchlist_id as watchlist %}
        <a class="nav-link {% if request.get_full_path == watchlist %} active {% endif %}" href="{{watchlist}}">Watchlist</a>
    </li>
    <li class="nav-item">
        {% url 'create-listing' as create_listing %}
        <a class="nav-link {% if request.get_full_path == create_listing %} active {% endif %}"
           href="{{create_listing}}">Create listing</a>
    </li>
    <li class="nav-item">
        {% url 'logout' as logout %}
        <a class="nav-link {% if request.get_full_path == logout %} active {% endif %}" href="{{logout}}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        {% url 'login' as login %}
        <a class="nav-link {% if request.get_full_path == login %} active {% endif %}" href="{{login}}">Log In</a>
    </li>
    <li class="nav-item">
        {% url 'register' as register %}
        <a class="nav-link {% if request.get_full_path == register %} active {% endif %}"
           href="{{register}}">Register</a>
    </li>
    {% endif %}
</ul>
<hr>
<div>
    {% if user.is_authenticated %}
    Signed in as <strong>{{ user.username }}</strong>.
    {% else %}
    Not signed in.
    {% endif %}
</div>
{% block body %}
{% endblock %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>
</html>
