#hero #hero-image {
  width: 100%;
  height: 60vh;
  max-height: 500px;
  background: #141414;
  background-size: cover;
  background-image: url("/img/hero.png");
  background-image: linear-gradient(360deg, #141414 0%, rgba(20, 20, 20, 0) 20%), url("/img/hero.png");
  z-index: -1; }

#hero #hero-details {
  position: relative;
  top: -260px;
  display: block;
  margin: auto;
  width: 80vw;
  text-align: center; }
  #hero #hero-details h1 {
    font-weight: bold;
    text-shadow: 0px 5px #000000;
    font-size: 48px; }
  #hero #hero-details button {
    font-weight: normal;
    color: #FFF;
    background-color: #141414;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 20px; }

#new-entries, #all-movies, #all-series {
  display: block;
  margin-bottom: 20px; }
  #new-entries h2, #all-movies h2, #all-series h2 {
    margin-left: 10vw; }
  #new-entries .row, #all-movies .row, #all-series .row {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center; }
    #new-entries .row .mediaItem, #all-movies .row .mediaItem, #all-series .row .mediaItem {
      margin: 10px;
      height: 130px;
      width: 230px; }
      #new-entries .row .mediaItem button, #all-movies .row .mediaItem button, #all-series .row .mediaItem button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none; }
        #new-entries .row .mediaItem button .mediaTitle, #all-movies .row .mediaItem button .mediaTitle, #all-series .row .mediaItem button .mediaTitle {
          display: none; }
    #new-entries .row .mediaItem:hover button .mediaTitle, #all-movies .row .mediaItem:hover button .mediaTitle, #all-series .row .mediaItem:hover button .mediaTitle {
      color: #FFF;
      display: block;
      position: relative;
      right: -20px;
      bottom: 120px;
      text-shadow: 3px 3px black;
      font-size: 20px;
      font-weight: bold;
      max-width: 80%; }

#details .modal-content {
  background-color: #141414;
  color: #FFF;
  border-radius: 10px;
  padding: 0; }
  #details .modal-content .modal-header {
    padding: 0;
    display: block;
    border-bottom: 0; }
    #details .modal-content .modal-header .title {
      position: relative;
      top: -30px;
      left: 10px;
      font-size: 26px;
      color: #FFF;
      font-weight: bold; }
    #details .modal-content .modal-header .header-image {
      width: 100%;
      height: 280px;
      background: #141414;
      background-size: cover;
      background-image: url("/img/ItemHQ.jpg");
      background-image: linear-gradient(180deg, rgba(20, 20, 20, 0) 68%, #141414 100%), url("/img/ItemHQ.jpg");
      border-radius: 10px 10px 0 0; }
    #details .modal-content .modal-header button {
      position: relative;
      z-index: 10;
      padding: 0;
      background-color: rgba(20, 20, 20, 0.5);
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
    #details .modal-content .modal-header button.close-modal {
      bottom: 290px;
      right: 20px; }
    #details .modal-content .modal-header button.save-modal {
      bottom: 250px;
      right: 20px;
      margin: -1rem -1rem -1rem auto;
      border: 0;
      float: right;
      cursor: pointer;
      opacity: .5; }
    #details .modal-content .modal-header button.save-modal:hover {
      opacity: 1; }
  #details .modal-content .modal-body {
    margin-bottom: 10vh; }
    #details .modal-content .modal-body p {
      font-weight: normal;
      font-size: 14px; }
    #details .modal-content .modal-body .view-trailer, #details .modal-content .modal-body .edit {
      background-color: #E50914;
      width: 200px;
      height: 60px;
      font-size: 26px;
      font-weight: bold;
      color: #FFF;
      display: block;
      margin-bottom: 5px; }
    #details .modal-content .modal-body .edit {
      margin-top: 75px;
      background-color: transparent;
      border: 3px solid #E50914; }
    #details .modal-content .modal-body .edit:hover {
      background-color: rgba(229, 9, 20, 0.5); }
    #details .modal-content .modal-body span {
      display: block;
      margin: 15px 0; }
