.navbar {
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.4) 75%, rgba(20, 20, 20, 0) 100%);
  font-weight: bold;
  font-size: 30px; }
  .navbar div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px; }
    @media only screen and (max-width: 990px) {
      .navbar div {
        position: relative; } }
    .navbar div ul {
      width: 100%;
      display: flex;
      justify-content: center; }

#footer nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; }
  #footer nav ul li a {
    display: inline;
    background-color: transparent;
    border: none;
    color: #FFF; }
  #footer nav ul li a.disabled {
    color: rgba(255, 255, 255, 0.5); }
  #footer nav ul li a.page-num {
    border: 3px solid #FFF;
    border-radius: 10px; }
  #footer nav ul li .iconify {
    position: absolute;
    color: #FFF;
    font-size: 24px; }
  #footer nav ul li .iconify.left {
    right: 120%; }
  #footer nav ul li .iconify.right {
    left: 120%; }
  #footer nav ul li.active {
    margin: auto 15px; }

#body {
  background: #141414;
  color: #FFF;
  font-family: 'Roboto Condensed', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
