{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/accounts/css/home.css' %}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="{% static 'webapp/img/logo-small.png' %}" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home.html">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/series.html">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved.html">Saved</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- endinject -->

    <section id="hero">
        <div id="hero-image"></div>
        <div id="hero-details">
            <h1>TITLE GOES HERE</h1>
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                View details
            </button>
        </div>

    </section>

    <section id="new-entries">
        <h2>New entries</h2>
        <div class="row">
            {% for item in items %}
            <div class="mediaItem">
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="details">
                    <img src="img/Item.png" alt="">
                    <span class="mediaTitle">TITLE GOES HERE</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="all-movies">
        <h2>All movies</h2>
        <div class="row">
            {% for item in items %}
            <div class="mediaItem">
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="details">
                    <img src="img/Item.png" alt="">
                    <span class="mediaTitle">TITLE GOES HERE</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="details">
        <!-- inject:partial:partials/details.html -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="header-image" alt=""></div>
                  <h3 class="title">TITLE GOES HERE</h3>
                  <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span class="iconify" data-inline="false" data-icon="radix-icons:cross-2" style="color: #ffffff; font-size: 25px;"></span>
                  </button>
                  <button type="button" class="save-modal" data-id="1">
                    <span class="iconify" data-inline="false" data-icon="ant-design:heart-outlined" style="color: #ffffff; font-size: 25px;"></span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium cras amet, mattis auctor mauris sit pretium. Sem elit, gravida tincidunt venenatis eget sit aliquet. Id sed velit felis bibendum aliquam facilisi. Non duis sit donec leo sit nam. Tristique volutpat proin senectus in leo, posuere lorem morbi ultrices. Faucibus tincidunt fermentum, est rutrum sit tempus elit. Elit sit ut nec, sit lacinia eu arcu at. Feugiat elementum in in amet. Maecenas sit platea sed diam consequat, odio blandit. Mauris magnis nunc gravida mi, varius mi.</p>
                    </div>

                    <div class="col-12 col-sm">
                        <button type="button" class="btn view-trailer" data-url="google.com">View trailer</button>
                        <span><strong>Genre:</strong> Action</span>
                        <span><strong>Date:</strong> September 2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- endinject -->
    </section>

    <!-- inject:partial:partials/footer.html -->
    <section id="footer">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link disabled" href="#" tabindex="-1">
                <span
              class="iconify left"
              data-inline="true"
              data-icon="bx:bxs-chevron-left"
            ></span>
                Prev
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link page-num" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next
                <span
                class="iconify right"
                data-inline="true"
                data-icon="bx:bxs-chevron-right"
              ></span>
            </a>

          </li>
        </ul>
      </nav>
    </section>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
{% endblock %}